@model IEnumerable<Hogwarts.Models.Lecture>

@{
    @Scripts.Render("~/bundles/bootstrap_select")
    @Styles.Render("~/Content/bootstrap_select")
    ViewBag.Title = "進捗管理";
}

<h2>進捗管理</h2>

<div id="divProgress">
    @if (User.IsInRole("Admin"))
    {
        @Html.Action("ProgressManage", "Lectures")
    }
    else
    {
        @Html.Action("UserProgress", "Lectures")
    }
</div>
