@model IEnumerable<Hogwarts.Models.Lecture>

@{
    ViewBag.Title = "Index";

    @Scripts.Render("~/bundles/bootstrap_select")
    @Styles.Render("~/Content/bootstrap_select")
}

<h2>進捗管理</h2>

<div id="divProgress">
    @if (User.IsInRole("Admin"))
    {
        @Html.Action("ProgressManage")
    }
    else
    {
        @Html.Action("UserProgress")
    }
</div>
