@model IEnumerable<Hogwarts.Models.Group>

<table id="tblGroup" class="table table-hover">
    <tr>
        <th width="80%">
            グループ名
        </th>
        <th width="20%">
            @Html.ActionLink("追加", "Edit", "Group", new { area = "" }, new { @class = "mdl-button mdl-js-button GroupCustomButton mdl-button--raised mdl-button--colored" })
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr id="tr_group_@(item.Id)">
            <td class="td_groupName">
                @Html.DisplayFor(modelItem => item.GroupName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            </td>
        </tr>
    }
</table>
