@model Hogwarts.Models.Group

@{
    var IsEdit = ViewBag.IsEdit as bool?;
    var groupMember = ViewBag.GroupMember as IEnumerable<Hogwarts.Models.ApplicationUser>;
}
<br>
<style>
    .editGroup {
        max-width: 500px;
        padding: 15px;
        margin: 0 auto;
    }
</style>

<br>
<div class="editGroup">
    <label class="label">グループ名</label>
    @if (IsEdit == true)
    {
        <input type="text" id="txtGroupName" class="form-control col-md-12" placeholder="グループ名" value="@(Model.GroupName)" style="max-width:100%"/>
    }
    else
    {
        <input type="text" id="txtGroupName" class="form-control col-md-12" placeholder="グループ名" style="max-width:100%"/>
    }
    <br>
    <label class="label">グループメンバー</label>
    <div class="input-group">
        <input type="text" class="form-control" id="txtUserID" placeholder="ユーザーID(社員番号)" style="max-width:100%">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">
                <i class='glyphicon glyphicon-plus'>追加</i>
            </button>
        </span>
    </div>
    <table id="tblGroupMember" class="table">
        <tr>
            <th>ID</th>
            <th>名前</th>
            <th></th>
        </tr>
        <tbody id="tbGroupMember">
            @if (IsEdit == true)
            {
                foreach (var member in groupMember)
                {
                    @Html.Action("MemberView", new { userId = member.Id })
                }
            }
        </tbody>
    </table>
    <br>
    <br>
    <br>
    @if (IsEdit == true)
    {
        <input type="button" id="btnUpdateRegist" class="btn btn-ghost" value="更新" />
    }
    else
    {
        <input type="button" id="btnNewRegist" class="btn btn-ghost" value="登録" />
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</div>