@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <nav class="mdl-navigation mdl-layout--large-screen-only">
            @Html.ActionLink("ログインID:" + User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "mdl-navigation__link" })
            <a class="mdl-navigation__link" href="javascript:document.getElementById('logoutForm').submit()">ログオフ</a>
        </nav>
    }
}
else
{
    <nav class="mdl-navigation mdl-layout--large-screen-only">
        @Html.ActionLink("ログイン", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "mdl-navigation__link" })
    </nav>
}
