@model Hogwarts.Models.Ask

@{
    ViewBag.Title = "Delete";
}

<div style="margin-left:200px">
    <h3>本当に削除しますか？</h3>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.Raw(Model.Content)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
